:root {
  --font-size-base: 1rem; /* 16px */
  --font-size-h1: 2rem; /* 32px */
  --font-size-h2: 1.75rem; /* 28px */
  --font-size-h3: 1.5rem; /* 24px */
  --font-size-body: 1rem; /* 16px */
  --font-size-small: 0.875rem; /* 14px */
}

html {
  font-size: var(--font-size-base);
}

html.modal-open {
  margin-inline-end: var(--scrollbar-width);

  body {
    overflow: hidden;
  }
}

h1,
h2,
h3 {
  font-family: "Arial Black", Verdana, sans-serif;
  color: var(--heading-color);
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  margin-top: 2.5rem;
  font-size: var(--font-size-h2);
}

h3 {
  margin-top: 2rem;
  font-size: var(--font-size-h3);
}

h1,
h2 {
  padding-bottom: 0.25rem;
  border-bottom: solid 0.25rem var(--border-color);

  @media (min-width: 768px) {
    margin-left: -1rem;
    padding: 0 1rem 0.5rem 1rem;
  }
}

body {
  background: var(--bg-color);
  color: var(--text-color);

  background-attachment: fixed;
  font-family: Trebuchet, Helvetica, Arial, sans-serif;
  font-size: var(--font-size-body);

  /* space for header */
  padding: 4rem 0 0 0;
  margin: 0;

  @media (width > 768px) {
    background-image: var(--body-gradient);
    padding-top: 0;
    font-size: 1.0625rem;
  }
}

/* Generic vertical spacing in main sections */
section,
main,
dialog,
.stack {
  & > * + * {
    margin-block-start: 1rem;
  }
}

/* place all child elements centered directly on top of each other */
.overlay {
  display: grid;
  grid-template-columns: 1fr;

  justify-items: center;
  align-items: center;

  & > * {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }
}

section {
  /* compensate for possible fixed header in mobile view */
  scroll-margin-top: 4rem;

  main &:last-child {
    min-height: 46vh;
  }

  @media (width > 768px) {
    scroll-margin-top: 1rem;

    main &:last-child {
      min-height: 49vh;
    }
  }
}

.sidebar-layout {
  padding: 1rem;
  display: grid;
  grid-template-columns: minmax(0, 50rem);
  gap: 4rem;

  margin: 0 auto;
  justify-content: center;

  @media (width > 768px) {
    grid-template-columns: 15rem minmax(0, 50rem);
  }
}

video,
img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  padding: 0;
  overflow: hidden;
  clip-path: circle(0);
}

main figcaption {
  text-align: center;
  padding-top: 1rem;
  font-size: var(--font-size-small);
  color: var(--text-color-light);
  text-wrap: balance;

  @media (width > 768px) {
    font-size: var(--font-size-body);
  }
}

*:focus-visible {
  outline: solid 2px black;
}

footer {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: stretch;

  color: var(--text-color);
}

.footer-content {
  border-top: solid 0.25rem var(--border-color);
  position: sticky;
  bottom: 0;
  margin-top: 5vh;
  margin-inline: auto;
  padding: 0.5rem 1rem;
  text-align: center;
  overflow: hidden;
  font-size: var(--font-size-body);

  & > * {
    transition: opacity ease 300ms;
    opacity: 0.5;
  }
}
footer.is-end .footer-content > * {
  opacity: 1;
}

code {
  font-family: Consolas, monospace;
  font-weight: bold;
}

.content-with-image {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: start;

  & > :first-child {
    min-width: 40%;
    flex-basis: 0;
    flex-grow: 1;
  }
}

ul,
ol {
  list-style-type: square;
}

label,
.label {
  color: #5a411d;
  color: var(--dark-gray);
  font-size: 0.9375rem;
  cursor: default;
}
